body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-around;
  color: gray;
  align-items: center;
  height: 40px;
  background-color: #f0f0f0;
}

.toolbar h1 {
  font-size: 16px;
  font-weight: lighter;
}

.main-container {
  display: flex;
  height: calc(100vh - 40px);
}

#left-panel,
#ast-editor {
  width: 50%;
  height: 100%;
  overflow: auto;
}

#left-panel {
  display: flex;
  flex-direction: column;
}

#code-editor,
.node-tree-and-pin-container {
  overflow: auto;
}

#code-editor {
  height: 60%;
}

.node-tree-and-pin-container {
  height: 40%;
}

#code-editor .CodeMirror {
  height: 100%;
  border-width: 1px 0 2px 1px;
  border-style: solid;
  border-color: #ddd;
}

#ast-editor {
  height: auto;
  overflow: auto;
  margin: 0;
}

#ast-editor .CodeMirror {
  /* height: calc(100vh - 45px); */
  height: 100%;
  border: 1px solid #ddd;
}

.node-tree-and-pin-container {
  padding: 10px;
}

.node-tree-container {
  display: flex;
  padding-top: 10px;
}

#node-tree-display {
  padding-right: 10px;
}

#node-tree-display-pinned {
  /* border-left: 2px solid lightgray; */
  padding-left: 10px;
}

.border-left {
  border-left: 2px solid lightgray;
}

/* small styles */

.highlighted-block {
  background-color: yellow;
  color: black;
}

.node-path-header-text {
  text-decoration: underline;
}

.node-type {
  color: #53c28f;
}

.node-name {
  color: #5b8df8;
}

.display-none {
  display: none;
}

.cm-searching {
  border: 1px solid seagreen;
}

#convertBtn {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

#pin-button,
#unpin-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 2px 5px;
  cursor: pointer;
}

.dirty {
  background-color: #f44336 !important;
}

@media (max-width: 767px) {
  .toolbar h1 {
    font-size: 12px;
  }

  #convertBtn {
    font-size: 12px;
  }

  .main-container {
    flex-direction: column;
  }

  #left-panel,
  #ast-editor {
    width: 100%;
    overflow: hidden;
  }

  #code-editor,
  .node-tree-and-pin-container {
    height: 100%;
  }

  .node-tree-and-pin-container {
    border-top: 1px solid #ddd;
  }

  #code-editor {
    overflow: hidden;
  }

  #ast-editor {
    height: 100%;
  }

  #pin-button,
  #unpin-button {
    display: none;
  }
}
