.highlighted-block {
  background-color: yellow;
  color: black;
}

.node-path-header-text {
  text-decoration: underline;
}
.node-type {
  color: #53c28f;
}

.node-name {
  color: #5b8df8;
}

.editors {
  display: flex;
}

#code-editor,
#ast-editor {
  flex: 1;
}

.CodeMirror {
  height: 95vh !important;
  border: 1px solid #ddd;
}

.CodeMirror-scroll {
  max-height: 100vh !important;
}

.toolbar {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  font-size: 14px;
}

#convertBtn {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

.dirty {
  background-color: #f44336 !important;
}

#node-type {
  position: fixed;
  top: 50px;
  right: 20px;
  border: 2px solid #008cba;
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
}

.display-none {
  display: none;
}

.cm-searching {
  border: 1px solid seagreen;
}
